@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease 0s;
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -ms-transition: background 0.3s ease 0s;
  background: #EAEFF2;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #7f7f7f;
}
@media screen and (max-width: 600px) {
  body {
    background-color: #ffffff;
  }


}
body a {
  outline: none  !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Open Sans', sans-serif;
}
#wrapper {
  display: none;
  padding: 60px 0 0;
}
#wrapper #backtotop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  text-align: center;
  color: #ddd;
  background: white;
  z-index: 999;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  padding: 13px;
  box-shadow: 0 0 0 3px #e1e1e1;
  border-radius: 0 5px 5px 0;
}
#wrapper #backtotop:hover {
  background: #BA4E4E;
  color: white;
}
@media (max-width: 800px) {
  #wrapper #backtotop {
    right: 0;
    bottom: -100px;
  }
}
@media (max-width: 650px) {
  #wrapper {
    padding: 40px 0 0;
  }
}
.portrait {
  min-height: 400px;
  background: white;
  text-align: center;
  border-bottom: 20px solid #FFFFFF;
  padding-bottom: 25px;
  margin-bottom: 10px;
  box-shadow: 0 10px 0 #EAEFF2;
}
@media (max-width: 650px){
  .portrait{
    box-shadow: none;
  }
}
.portrait #open-content {
  min-width: 130px;
}
.portrait .box-note {
  position: relative;
  max-width: 350px;
  margin: 30px auto;
  background: #249ebd;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}
.portrait .box-note:after {
  content: "";
  border-top: 10px solid #249ebd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
}
.portrait .portrait-img-area {
  width: 160px;
  margin: 0 auto;
  position: relative;
}
.portrait .portrait-img-area .avatar {
  width: 140px;
}
.portrait .portrait-img-area .profile-links a {
  position: absolute;
  font-size: 27px;
}
.portrait .portrait-img-area .profile-links a.github {
  left: -10px;
  bottom: 0;
  color: rgb(36, 158, 189);
}
.portrait .portrait-img-area .profile-links a.linkedin {
  right: -10px;
  bottom: 0;
  color: rgb(36, 158, 189);
}
.portrait .name {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}
.portrait .name small {
  display: block;
  font-size: 16px;
  letter-spacing: 3px;
}
#main-content {
  display: none;
  position: relative;
}
.content {
  background: white;
  padding-top: 80px;



}
#navigation {
  width: 100%;
  z-index: 99;
  top: 0;
  overflow: hidden;
}
#navigation.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: 0!important ;
  right: auto;
  bottom: auto;
  overflow: auto;
}
#navigation.autofix_sb.fixed .navigation-list {
  position: relative;
}
@media (max-width: 765px) {
  #navigation.autofix_sb.fixed {


  }
  .col-sm-12, .col-md-12{
    padding-left: 0;
    padding-right: 0;
  }
}
#navigation .navigation-list {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}
#navigation .navigation-list li {
  float: left;
  width: 33.3333%;
  text-align: center;
  position: relative;
}
#navigation .navigation-list li a {
  display: block;
  padding: 15px;
  background: #2C92AC;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
#navigation .navigation-list li.active:after {
  content: "";
  border-top: 10px solid #2C92AC;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
}
#navigation .navigation-list li.active a {
  color: white;
  font-weight: 800;
  background-color: rgb(44, 146, 172);
}
#navigation .navigation-list li a:hover {
  color: white;
  font-weight: 800;
  background-color: rgb(44, 146, 172);
}
@media (max-width: 990px) {
  #navigation .navigation-list {
    max-width: 720px;
  }
}
@media (max-width: 650px) {
  #navigation .navigation-list span {
    display: none;
  }
}
#about .identity-area label {
  position: relative;
  display: block;
}
#about .identity-area label:after {
  content: ":";
  position: absolute;
  right: 0;
  width: 5px;
  top: 0;
}
#resume .time-line {
  position: relative;
  margin-top: 30px;
  clear: both;
}
#resume .time-line .item-event {
  position: relative;
  padding-left: 15px;
  border-left: 3px solid #e1e1e1;
  margin-left: 25px;
  padding-bottom: 30px;
  padding-top: 10px;
}
#resume .time-line .item-event.current .date {
  border: 5px solid #4B6F78;
  background: #4B6F78;
}
#resume .time-line .item-event.current .event-content {
  border: 1px solid #4B6F78;
}
#resume .time-line .item-event .date {
  position: absolute;
  left: -32px;
  top: -10px;
  border-radius: 50%;
  background: #63A4B5;
  display: inline-block;
  padding: 12px 7px;
  text-align: center;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 5px solid #fff;
}
#resume .time-line .item-event .event-content {
  position: relative;
  border: 1px solid #e1e1e1;
  padding: 10px 20px;
  border-radius: 0 10px 10px;
}
#resume .time-line .item-event .event-content h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #63A4B5;
}
#resume .caption-skill {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
}
#resume .list-skills li .progress {
  height: 10px;
  box-shadow: none;
  overflow: inherit;
}
#resume .list-skills li .progress .progress-bar {
  border-radius: 5px;
  text-align: right;
  position: relative;
  background: #9EACB8;
  box-shadow: none;
}
#resume .list-skills li .progress .progress-bar span {
  position: relative;
  bottom: -15px;
  font-size: 10px;
  color: white;
  right: -13px;
  display: inline-block;
  background: #D84E4E;
  padding: 1px 5px;
  border-radius: 5px;
}
#resume .list-skills li .progress .progress-bar span:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  border-bottom: 5px solid #D84E4E;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
#resume .list-skills li:nth-child(even) .progress-bar {
  background: #CDD1D2;
}
#contact .map-area {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 450px;
  background: url(../images/loader.gif) no-repeat center center;
}
#contact .map-area #map {
  min-height: 450px;
  width: 100%;
}
#contact .map-area .info-map {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 150px;
  width: 100%;
  z-index: 3;
  max-width: 300px;
  padding: 20px;
  background: #f2f2f2;
}
#contact .map-area .info-map h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}
#contact .map-area .info-map .list-info {
  margin-bottom: 0;
}
#contact .map-area .info-map .list-info li {
  position: relative;
  padding-left: 20px;
}
#contact .map-area .info-map .list-info li i.fa {
  position: absolute;
  left: 0;
  top: 5px;
}
.form-control {
  border: 1px solid #e1e1e1;
  padding: 10px;
  min-height: 50px;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid  #707273;
}
.title {
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}
.title.with-icon {
  padding-left: 50px;
}
.title .icn-title {
  margin-right: 5px;
  display: inline-block;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  background: #249EBD;
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
  top: -6px;
  min-height: 40px;
  padding-bottom: 13px;
  border-radius: 5px;
}
.title .icn-title:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  border-top: 10px solid #249EBD;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.mini-desc,
.img-profile,
.identity-area,
.box-block {

  margin: 30px 15px 20px 20px;
}
@media (max-width: 650px) {
  .box-block{
    margin: 0;
  }
}
@media (max-width: 900px) {



}
.img-responsive {
  display: inline-block;
}
.deviter {
  height: 1px;
  margin: 10px 0;
  border-bottom: 1px dashed #ddd;
}
.bg-line {
  height: 15px;
}
.body-content,
.body-portrait {
  padding: 0 20px;
  min-height: 350px;
  position: relative;
}
.body-content {
  padding-bottom: 40px;
  min-height: 800px;
}
.imgWrapper img {
  width: 100%;
}
.list-strip li {
  color: white;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 5px;
  background: #4B6F78;
}
.list-strip li:nth-child(even) {
  background: #BA4E4E;
}
#wait-page {
  color: white;
  padding: 100px 10px;
  font-size: 30px;
  font-weight: 700;
}
form .alert-danger, form .alert-success{
  display: inline-block;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
  margin-left: 10px;
  margin-bottom:0px;
}
#SubmitForm:focus{
  outline: none;
}
@media print {
  body{
    display:none;
    visibility:hidden;
  }
}